
.shipping {
  font-size: 30px;
  font-weight: bold;
  padding-top: 40px;
}


.returns {
  font-size: 30px;
  font-weight: bold;
  padding-top: 40px;
}

#footer {
  padding-top: 10px;
  color: blue;
}
